// COLORS
$color-primary: #55c57a;
$color-primary-light: rgba(126, 213, 97, 1);
$color-primary-dark: rgb(52, 179, 143);

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #b8b8b8;

$color-grey-dark-1: #333;
$color-grey-dark-2: #555;
$color-grey-dark-3: #777;

$color-white: #fff;
$color-black: #000;

// GRID
$grid-width: 71.25rem;
$gutter-vertical: 5rem;
$gutter-horizontal: 4rem;

// FONT Sizes
$font-size-S: 0.75rem;
$font-size-M: 1rem;
$font-size-L: 1.125rem;
$font-size-XL: 1.25rem;
$font-size-XXL: 1.5rem;
// FONT WEIGHTS
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Flow
$default-flow-space: 1em;

// Main Style
$default-max-width: 80rem;
