*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body{
  box-sizing: border-box;
}


.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  color: $color-grey-dark-2;
  font-weight: $font-weight-medium;
  font-size: $font-size-L;
  padding: 1em 2em;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
  text-align: center;
}

.btn:hover,
.btn:active,
.btn:focus:focus-visible{
  background-color: rgba($color-primary, 0.3);
}